@mixin telefono {
    @media (min-width: $telefono){
        @content;                   //Inyecta configuracion 
    }
}

@mixin tablet{
    @media (min-width: $tablet){
        @content;
    }
}

@mixin desktop{
    @media (min-width: $desktop){
        @content;
    }
}

@mixin grid($columnas, $espaciado){
    display: grid;
    grid-template-columns:repeat($columnas, 1fr);
    gap: $espaciado;
}


@mixin flex{
    display: flex;
}


//Ejemplo de Creacion de un mixing
//@mixin nuevoMixin($transform, $size) {
//     font-size: $size;
//     color: $morado;
//     text-transform: $transform;
// }